<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
     <add key="AllHourGeojsonUrl" value="http://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson"/>
    <add key="NearestCityCount" value="3"/>
    <add key="SourceUpdatIntervalMin" value="5"/>
  
  </appSettings>
</configuration>